# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Ignore ESG datasets
Data ESG/

# Ignore Seller datasets
Data Seller/

# Ignore processed datasets
Dataset/processed/cleaned_amazon_dataset.csv

# Outputs
outputs/

# Temporary files
*.tmp
*.log